Conteudo form : {{clienteForm.value | json}}

Form valido : {{clienteForm.valid | json}}

<div class="card">
    <form [formGroup]="clienteForm" (ngSubmit)="submitFormCliente()">
        <div class="p-fluid p-formgrid p-grid">

            <input type="hidden" formControlName="id">

            <div class="p-field p-col-12 p-md-6">
                <label for="nome">Nome</label>
                <input formControlName="nome" type="text" pInputText>
            </div>

            <div class="p-field p-col-12 p-md-6">
                <label for="cpf">CPF</label>
                <input formControlName="cpf" type="text" pInputText>
            </div>

            <app-cadastro-endereco formControlName="endereco"></app-cadastro-endereco>

            <button pButton type="submit" label="Salvar" [disabled]="clienteForm.invalid"></button>
        </div>


    </form>
</div>