Conteudo form : {{clienteForm.value | json}}

Form valido : {{clienteForm.valid | json}}

<div class="card">
    <form [formGroup]="clienteForm" (ngSubmit)="submitFormCliente()">
        <div class="p-fluid p-formgrid p-grid">

            <input type="hidden" formControlName="id">

            <app-pessoa-fisica formControlName="pessoaFisica"></app-pessoa-fisica>

            <app-cadastro-endereco formControlName="endereco"></app-cadastro-endereco>

            <button pButton type="submit" label="Salvar" [disabled]="clienteForm.invalid"></button>
        </div>


    </form>
</div>