<div class="card">
    <div class="p-fluid p-formgrid p-grid">

        <form [formGroup]="pessoaFisicaForm">

            <input type="hidden" formControlName="id">

            <div class="p-field p-md-6">
                <label for="nome">Nome</label>
                <input formControlName="nome" type="text" pInputText>
            </div>

            <div class="p-field p-col-12 p-md-6">
                <label for="cpf">CPF</label>
                <input formControlName="cpf" type="text" pInputText>
            </div>

        </form>
    </div>
</div>